body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    font-family: 'Poppins';
    display: grid;
    justify-items: center;
}
span{
    display: block;
    text-align: center;
    margin: 0px;
    font-size: 12px;
}
h3{
    text-align: center;
}
.menu-frota{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.menu-frota button{
    background-color: #6a1bff;
    color: white;
    font-weight: bold;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    margin: 10px;
}
.menu-frota button:hover{
    transition: 2s;
    background-color: #450eac;
}
a button{
    background-color: #6a1bff;
    color: white;
    font-weight: bold;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    margin: 10px; 
    position: absolute;
    left: 15px;
    top: 20px;
}
#card-veiculo{
    display: grid;
    padding-top: 50px;
    gap: 10px;
    visibility: hidden;
}
input{
    width: 500px;
    height: 40px; 
    background-color: #ffff;
    border-radius: 5px;
    border: 1px solid gray;
    gap: 10px;
    outline: none;
}
input::placeholder{
    padding-left: 20px;

}
#addbtn{
padding: 15px 40px;
background-color: #6a1bff;
color: #ffff;
border: none;
border-radius: 5px;
}
#btn-voltar{
    position: fixed;
    left: 40px;
    top: 40px;
    background-color: #6a1bff;
    color: #fff;
    border: none;
    width: 90px;
    height: 30px;
}